streamlit
numpy<2
pandas
torch
torchvision
segmentation-models-pytorch
timm
scikit-learn
matplotlib
scipy
openpyxl
cython==0.29.36
pydensecrf @ git+https://github.com/lucasb-eyer/pydensecrf.git
